/* -------------------------------------
 * Fonts
 * ------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');
$body-font: "Raleway", "Open Sans", "sans-serif";

/* -------------------------------------
 * Colors
 * ------------------------------------- */
$conscients-coral: #FAAD71;
$conscients-light-green: #9CCEA2;
$conscients-green: #73C6A1;
$conscients-grey: #54534A;
$conscients-light-grey: #726f64;
$conscients-yellow: #FFC425;
$conscients-red: #F05133;
$conscients-blue: #17a2b8;
