.ckeckout-first-title-padding {
  padding-top: 30px;
  padding-bottom: 30px;
  @include for-phone-only {
  padding-top: 20px;
  padding-bottom: 20px;
  }
}

.checkout-font {
  h1 {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    @include for-phone-only {
      font-size: 2rem;
    }
  }
}

.checkout-box {
  display:flex;
  flex-direction: column;
    @include for-tablet-landscape-up {
      flex-direction: row;
    }
}

.checkout-cart-box {
  width: 100%;
  @include for-tablet-landscape-up {
    width: 50%;
  }
}

.checkout-steps-box {
  width: 100%;
  @include for-tablet-landscape-up {
    width: 50%;
  }
}

.box-green {
  background-color: $conscients-green;
}

// DELIVERY
.yellow-delivery-box {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.16);
  background-color: $conscients-yellow;
  padding: 40px;
  z-index: 1;
}

.pay-box-on-delivery-form {
    @include for-tablet-landscape-up {
    position: absolute;
    bottom: 0;
    right: 0;
    }
}
