// Specific CSS for your home-page
// FONTS
  .home-font {
    h2{
      font-family: "Frank Ruhl Libre", "serif";
      font-size: 2rem;
      letter-spacing: 0.1rem;
      // text-align: center;
      text-transform: none;
        @include for-phone-only {
          font-size: 1.1rem;
        }
    }
    h3 {
      font-family: "Roboto", "sans-serif";
      text-transform: Uppercase;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
        @include for-phone-only {
          font-size : 0.5rem;
        }
    }
    h4 {
      font-family: "Frank Ruhl Libre", "serif";
      font-weight: 300;
      font-size: 0.9rem;
      @include for-phone-only {
        font-size: 0.7rem;
      }
    }
    h5 {
    font-family: "Roboto", "sans-serif";
    text-transform: Uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
      @include for-phone-only {
        font-size : 0.5rem;
      }
    }
  }


// PADDING
  .home-title-padding {
    padding-top: 32px;
    padding-bottom: 16px;
    @include for-tablet-landscape-up {
      padding-top: 48px;
      padding-bottom: 32px
    }
    @include for-phone-only {
      // padding-top: 24px;
      padding-top: 40px;
      padding-bottom: 8px;
    }
  }

  // .home-title-padding {
  //   padding-top: 48px;
  //   padding-bottom: 48px;
  //   @include for-tablet-landscape-up {
  //     padding-top: 60px;
  //     padding-bottom: 60px;
  //   }

  // }

// OCCASIONS BOX AND CARDS
  .occasions-container{
    position: relative;
    width: 95vw;
    margin: 0 auto;
      @include for-tablet-landscape-up {
        height: 60vh;
        width: 85vw;
      }
  }
  .occasions-img-box {
    display: none;
      @include for-tablet-landscape-up {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 65%;
        background-size: cover !important;
        background-position: center;
        text-align: left;
      }
  }

  .occasions-card{
    background-color: white;
    text-align: center;
      @include for-tablet-landscape-up {
        border: 1px solid rgba(0,0,0,.125);
        height: 85%;
        width: 38%;
        position: absolute;
        margin-top: auto;
        margin-bottom: auto;
        top:0;
        bottom: 0;
        right: 0;
      }
  }

  .occasions-card-content-box {
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .occasions-card-title {
    margin: auto;
  }

  .occasions-card-img {
    @include for-tablet-landscape-up {
      max-height: 65%;
      min-height: 0; //to avoid overflow
      max-width: 100%;
      margin-top: 1px;
    }
  }

  .occasions-card-content {
    padding-right: 12px;
    padding-left: 12px;
    p {
      margin-bottom: 5px;
    }
    @include for-phone-only {
      width: 60%;
      padding-top: 8px;
    }
    @include for-tablet-portrait-only {
      padding-top: 8px;
    }
  }

// SHOP CARDS
  .home-shop-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-shop-card-content {
    text-align: center;
    padding-top: 8px;
    @include for-tablet-landscape-up {
      padding-top: 20px;
    }
    @include for-phone-only {
      width: 60%;
    }
  }
  .home-shop-card-img {
    max-width: 100%;
  }

// BLOG CARDS

  .home-blog-box {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: flex-end;
    height: 40vh;
    color: white;
    background-size: cover;
    background-position: center;
    @include for-tablet-portrait-only {
      height: 30vh;
    }
    @include for-tablet-landscape-up {
      height: 70vh;
    }
  }

  .home-blog-contenu {
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    width: 90%;
    padding-bottom: 5%;
    padding-left: 50px;
  }





  .home-blog-background {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 88%;
    background-size: 100%;
    background-repeat: no-repeat;
  }






  .home-blog-card {
    position: relative;

  }


  .home-blog-content {
    color: white;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    position: absolute;
    top: 70%;
    right: 50px;
    left: 50PX;

  }

  // PRESENTATION
  .conscients-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .conscients-presentation-content {
    width: 50vw;
  }

