.page-container {
  width: 70vw;
  margin: 0 auto;
  overflow: hidden;
}
.summary {
    display: flex;
    align-item: center;
    justify-content: space-around;
    text-align: center;
}
.first-title-padding {
  padding-top: 30px;
}
.terms-second-title-padding {
  padding-top: 50px;
  padding-bottom: 16px;
}
.page-font {
  h1 {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    @include for-phone-only {
      font-size: 2rem;
    }
  }

  h2 {
    font-family: "Frank Ruhl Libre", "serif";
    font-size: 2rem;
    font-weight: 400;
    text-transform: none;
    @include for-phone-only {
      font-size: 1.5rem;
    }
  }

  h3 {
    font-family: "Frank Ruhl Libre", "serif";
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    @include for-phone-only {
      font-size: 1.3rem;
    }
  }

  h4 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    @include for-phone-only {
      font-size: 0.9rem;
    }
  }

  h5 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    @include for-phone-only {
      font-size: 0.7rem;
    }
  }
}


