// .category-description {
//   border-bottom: 1px dotted $conscients-very-light-grey;
//   padding-bottom: 24px;
// }

  .description-font {
    font-family: "Frank Ruhl Libre", "serif";
    font-weight: 300;
    font-size: 0.9rem;
    // text-align: justify;
  }
