.shop-first-title-padding {
  padding-top: 30px;
  padding-bottom: 30px;
  @include for-phone-only {
  padding-top: 20px;
  padding-bottom: 20px;
  }
}

.shop-font {
  h1 {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    @include for-phone-only {
      font-size: 2rem;
    }
  }
}

.yellow-delivery-box {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.16);
  background-color: $conscients-yellow;
  padding: 40px;
}
