<% set_meta_tags title: I18n.t('meta_tags.blog_posts.index.title'),
                 description: I18n.t('meta_tags.blog_posts.index.description'),
                 keywords: I18n.t('meta_tags.blog_posts.index.keywords') %>

<div class="container my-5">
  <%= render @blog_posts %>

  <div class="d-flex justify-content-center"><%= paginate @blog_posts %></div>
</div>
