<% set_meta_tags title: @blog_post.seo_title,
                 description: @blog_post.meta_description %>

<div class="container my-5 ql-displayer my-3">
  <%= @blog_post.content.html_safe %>
</div>
