<div class="my-5">
  <p class="text-center font-weight-bold"><%= t('.select_payment_method') %></p>
  <div class="d-flex justify-content-around">

    <%= render 'stripe_button', cart: cart %>

    <%= link_to "Paypal", payments_path(payment_method: "paypal"), method: :post,  class: "btn btn-lg btn-dark" %>

    <%= link_to "test1", root_path, class: "btn btn-orange" %>
  </div>
</div>
