<div class="my-5">
  <p class="text-center font-weight-bold"><%= t('.select_payment_method') %></p>
  <div class="d-flex justify-content-around">
    <%= link_to "test1", root_path, class: "btn btn-orange" %>
    <%= link_to "test1", root_path, class: "btn btn-orange" %>
    <%= link_to "test1", root_path, class: "btn btn-orange" %>
  </div>
</div>
