.menu-small-font {
  font-family: "Open Sans", "sans-serif";
  font-size: 0.7rem;
}

.menu-big-font {
  font-family: "Open Sans", "sans-serif";
  text-transform: Uppercase;
  color: $conscients-grey;
}
