.footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include for-phone-only {
    justify-content: center;
    height: 35px;
  }
}

.footer-items {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.footer-items a {
  font-family: "Roboto", "sans-serif";
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $conscients-grey;
  opacity: 1;
  text-decoration: none !important;
  font-size: 0.6rem;
  padding: 0px 35px;
  @include for-phone-only {
    font-size: 0.4rem;
    padding: 0px 7px;
    letter-spacing: none;
    text-align: center;
  }
  @include for-tablet-portrait-only {
    padding: 0px 15px;
  }
}
.footer-items a:hover {
  opacity: 0.5;
}

.footer-icons {
  padding: 0 10px;
  color: $conscients-grey;
}

.icon-vir {
  font-family: "Roboto", "sans-serif";
  border: 1px solid $conscients-grey;
  border-radius: 10%;
  font-size: 0.6rem;
  padding: 4px 8px;
  margin-bottom: 0 !important;
  text-align: center;
}

.d-phone-none {
  @include for-phone-only {
    display: none;
  }
}


