
.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 0.5px dotted $conscients-very-light-grey;
  background-color: white;
  color: $conscients-light-grey;
  padding: 8px 1.5rem;
}

.top-menu-left {
  width: 20%;
}

.top-menu-center {
  flex: 1;
  align-items: center;
  justify-content: center;
  color: $conscients-grey;
}

.top-menu-right {
  justify-content: flex-end;
  align-items: center;
  width: 20%;
}

.top-menu-item {
}



