  .bg-light-green {
    background-color: $conscients-light-green;
  }
  .bg-green {
    background-color: $conscients-green;
  }

  .bg-grey {
    background-color: $conscients-bg-grey;
  }

  .bg-grey-resp {
    background-color: $conscients-bg-grey;
    @include for-tablet-landscape-up {
      background: none;
    }
  }

  .bg-yellow {
    background-color: $conscients-yellow;
  }

// BACKGROUNDS FOR TEST ERASE AFTER
  .bg-pink {
    background-color: pink !important;
  }
  .bg-red {
    background-color: red;
  }
