.border-black {
  border: 1px solid $conscients-black;
}

.border-green {
  border: 1px solid $conscients-green;
}

.border-red {
  border: 1px solid $conscients-red;
}

.border-paypal {
  border: 1px solid #009cde;
}

.desktop-border {
  @include for-tablet-landscape-up {
    border-bottom: 1px dotted $conscients-very-light-grey;
    border-top: 1px dotted $conscients-very-light-grey;
  }
}

.desktop-border-bottom {
  @include for-tablet-landscape-up {
    border-bottom: 1px dotted $conscients-very-light-grey;
  }
}

.border-bottom-dotted {
  border-bottom: 1px dotted $conscients-very-light-grey;
}

.border-top-dotted {
  border-top: 1px dotted $conscients-very-light-grey;
}

.border-grey {
  border: $border-grey;
}

.box-shadow {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.16);
}
