  .color-red {
    color: $conscients-red !important;
  }

  .color-yellow {
    color: $conscients-yellow;
  }

  .color-green {
    color: $conscients-green;
  }

  .color-white {
    color: white;
  }

  .color-coral {
    color: $conscients-coral;
  }

  .color-red {
    color: $conscients-red !important;
  }
  .title-grey {
    color: $conscients-title-grey;
  }
