  .color-red {
    color: $conscients-red !important;
  }

  .color-yellow {
    color: $conscients-yellow;
  }

  .color-green {
    color: $conscients-green;
  }

  .color-white {
    color: white;
  }

  .color-coral {
    color: $conscients-coral;
  }

  .title-grey {
    color: $conscients-title-grey;
  }

  .title-grey-phone {
    @include for-phone-only {
      color: $conscients-title-grey;
    }
  }

