.filters-font, .filters-font a {
  font-family: "Roboto", "sans-serif";
  text-transform: Uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  color: $conscients-grey;
  @include for-phone-only {
    font-size: 10px;
  }
}

.filters-margin {
  margin: 1.5rem 0;
}

.filters-plus-icone {
  font-size: 0.6rem;
}

.filters-dropdown-menu {
  border-radius: 0;
  border: $border-grey;
}

.filters-dropdown-item:hover {
  background-color: $conscients-bg-grey;
}


.side-line-filter {
  width: 40vw;
  margin: 0 auto;
  padding-top: 2.5rem;
  border-bottom: 1px dotted #d8d7d4;
}

.side-line-filter-hide {
    margin-top: -12px;
    background-color: white;
    padding-right: 1rem;
    padding-left: 1rem;
}
