  .price-font {
    font-family: "Roboto", "sans-serif";
    letter-spacing: 0.1rem;
  }

  .small-font-phone {
    @include for-phone-only {
      font-size: 0.8rem !important;
  }
  }

  .p-08R {
    font-size: 0.8rem;
  }
  .p-09R {
    font-size: 0.9rem;
  }
