a {
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

textarea { resize: none; }

.form-control[readonly] {
  background-color: white;
}

.orange {
  color: $orange;
}

.btn-orange {
  background-color: $orange;
  border-color: $orange;
  color: white;
}

.c-pointer {
  cursor: pointer;
}
