@import "filters";
@import "fonts";
@import "links";
@import "display";
@import "padding";
@import "background";
@import "borders";
@import "colors";


#error_explanation {
  color: $conscients-red;
}
#error_explanation h2 {
  font-size: 0.8rem;
  font-family: "Roboto", "sans-serif";
  text-transform: Uppercase;
  letter-spacing: 0.1rem;
}
#error_explanation li {
  font-family: "Frank Ruhl Libre", "serif";
  // color: $conscients-red;
  font-size: 1rem;
}

a {
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

textarea { resize: none; }

.form-control[readonly] {
  background-color: white;
}

.orange {
  color: $conscients-coral;
}

.btn-orange {
  background-color: $orange;
  border-color: $orange;
  color: white;
}

.c-pointer {
  cursor: pointer;
}

.c-default {
  cursor: default !important;
}

.h-450p {
  height: 450px !important;
}

