  .underlined-link {
      font-family: "Frank Ruhl Libre", "serif";
      font-size: 0.9rem;
      letter-spacing: 0.1rem;
      text-decoration: underline;
      text-underline-position: under;
      @include for-phone-only {
        font-size: 0.7rem;
      }
  }

// READ MORE / BACK TO TOP
  .read-more, .back-to-top {
    color: $conscients-red;
  }
  .read-more:hover, .back-to-top:hover {
    color: $conscients-red;
    text-decoration: underline;
    // font-weight: bold;
  }

  .read-more:after {
    font-family: FontAwesome;
    content: "\f107";
    padding-left: 10px;
    text-decoration: underline white;
  }

  .back-to-top:after {
    font-family: FontAwesome;
    content: "\f106";
    padding-left: 10px;
    text-decoration: underline white;
  }

 //Yellow box links
 .choose-delivery-link {
    color: $conscients-red;
    font-family: "Roboto", "sans-serif";
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.6rem;
 }
