// **** PADDING ***

  // .btn-padding {
  //   padding: 0.375rem 0.75rem;
  // }

  .logo-padding {
    padding: 16px 0px 24px 0px;
  }
  .padding-around {
    padding : 16px !important;
  }
  // remplacer par px-0
  .no-padding-around {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .padding-b {
    padding-bottom: 16px;
  }

  .padding-t {
    padding-top: 16px;
  }

  // remplacer par pt-0
  .no-padding-t {
    padding-top: 0 !important;
  }

  .padding-tb{
    padding-top: 16px !important;
    padding-bottom: 16px !important;
  }

  .padding-r {
    padding-right: 16px;
  }

  .padding-b-sixpix {
    padding-bottom: 0.375rem;
  }

  .pt-resp-16 {
    @include for-phone-only {
      padding-top: 1rem;
    }
    @include for-tablet-portrait-only {
      padding-top: 1rem;
    }
  }

    .pb-resp-16 {
    @include for-phone-only {
      padding-bottom: 1rem;
    }
    @include for-tablet-portrait-only {
      padding-bottom: 1rem;
    }
  }

  .pt-resp-32 {
      @include for-phone-only {
        padding-top: 2rem;
      }
      @include for-tablet-portrait-only {
        padding-top: 2rem;
      }
  }

