<div class="footer home-pt container-conscients">
  <h1>mon footer qui déchire</h1>
  <h2><%= t 'shared.footer.site_map'%></h2>
  <h2><%= t 'shared.footer.payment_shipping'%></h2>
  <h2><%= t 'shared.footer.terms'%></h2>
  <h2><%= t 'shared.footer.faq'%></h2>

</div>

