<!-- <div class="footer home-pt container-conscients"> -->
<div class="footer container-conscients">
  <div class="footer-items">
    <%= link_to t('shared.footer.site_map'), page_path('site_map')%>
    <%= link_to t('shared.footer.payment_shipping'), page_path('payment_shipping')%>
    <%= link_to t('shared.footer.terms'), page_path('terms')%>
    <%= link_to t('shared.footer.faq'), page_path('faq')%>
  </div>
  <div class="footer-items d-phone-none">
    <!-- <div class="icon-vir">VIR</div> -->
    <div class="footer-icons"><p class="icon-vir" title="Paiement par virement">VIR</p></div>
    <i class="footer-icons fa fa-cc-paypal" title="Paiement par Paypal"></i>
    <i class="footer-icons fa fa-credit-card" title="Paiement par carte bancaire"></i>
  </div>
</div>

