<% set_meta_tags title: I18n.t('meta_tags.pages.about.title'),
                 description: I18n.t('meta_tags.pages.about.description'),
                 keywords: I18n.t('meta_tags.pages.about.keywords') %>

<%= render 'pages/breadcrumb', page_name: 'about' %>
<div class="conscients-container mb-for-footer">
  <h1 class="flex justify-center"><%= t 'pages.about.test' %> Hello from <%= Rails.application.class
                                                                           .parent_name %>!</h1>
  Youpi
</div>



