<% set_meta_tags title: I18n.t('meta_tags.pages.contact.title'),
                 description: I18n.t('meta_tags.pages.contact.description'),
                 keywords: I18n.t('meta_tags.pages.contact.keywords') %>

<div class="container-conscients first-title-padding page-font">
  <h1><%= t 'pages.contact.contact_title' %></h1>
</div>

<div class="page-container page-font">
  <div class="summary padding-t home-font">
    <p><%= t 'pages.contact.contact_intro' %></p>
  </div>
</div>

<!-- TEST 1 -->
<div class="page-container">
<div class="contact-form-box">
<!-- L1 NOM ET EMAIL   -->
  <div class="form-row contact-form-l-one">
    <div class="form-group col">
      <input type="text" class="form-field" placeholder="Votre nom">
    </div>
    <div class="form-group col">
      <input type="email" class="form-field" id="inputEmail4" placeholder="Email">
    </div>
  </div>
<!-- L2 SUJET -->
  <div class="form-row contact-form-l-two">
    <div class="form-group col">
      <input type="text" class="form-field" placeholder="Sujet">
    </div>
  </div>
<!-- L3 MESSAGE   -->
    <div class="form-row contact-form-l-three">
    <div class="form-group col">
      <input type="text" class="form-control form-field" placeholder="Votre message">
    </div>
  </div>
  </div>
<!-- L4 SUBMIT   -->
  <button type="submit" class="btn btn-primary">Submit</button>
</div>
</div>
    <div class="col-md-3 text-center">
      <ul class="list-unstyled mb-0">
        <li>
          <i class="fa fa-phone fa-2x mt-4 blue-text"></i>
          <p>06 23 98 80 93</p>
        </li>
        <li>
          <i class="fa fa-envelope fa-2x mt-4 blue-text"></i>
          <p class="mb-0">contact@conscients.com</p>
        </li>
      </ul>
    </div>

<!-- ::::::::::::::::AUTRE TEST -->
<div class="page-container first-title-padding">
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-9 mb-md-0 mb-5">

      <form>
        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input type="text" id="contact-name" class="form-control">
              <label for="contact-name" class="">Your name</label>
            </div>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input type="text" id="contact-email" class="form-control">
              <label for="contact-email" class="">Your email</label>
            </div>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-12">
            <div class="md-form mb-0">
              <input type="text" id="contact-Subject" class="form-control">
              <label for="contact-Subject" class="">Subject</label>
            </div>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-12">
            <div class="md-form">
              <textarea type="text" id="contact-message" class="form-control md-textarea" rows="3"></textarea>
              <label for="contact-message">Your message</label>
            </div>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </form>

      <div class="text-center text-md-left">
        <a class="btn btn-primary btn-md">Send</a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-3 text-center">
      <ul class="list-unstyled mb-0">
<!--         <li>
          <i class="fa fa-map-marker fa-2x blue-text"></i>
          <p>San Francisco, CA 94126, USA</p>
        </li> -->
        <li>
          <i class="fa fa-phone fa-2x mt-4 blue-text"></i>
          <p>06 23 98 80 93</p>
        </li>
        <li>
          <i class="fa fa-envelope fa-2x mt-4 blue-text"></i>
          <p class="mb-0">contact@conscients.com</p>
        </li>
      </ul>
    </div>
    <!-- Grid column -->

  </div>
</div>
  <!-- Grid row -->

<!-- </section> -->
<!-- Section: Contact v.2 -->
