<% set_meta_tags title: I18n.t('meta_tags.pages.contact.title'),
                 description: I18n.t('meta_tags.pages.contact.description'),
                 keywords: I18n.t('meta_tags.pages.contact.keywords') %>

<div class="container-conscients first-title-padding page-font">
  <h1><%= t 'pages.contact.contact_title' %></h1>
</div>
