<% set_meta_tags title: I18n.t('meta_tags.pages.home.title'),
                 description: I18n.t('meta_tags.pages.home.description'),
                 keywords: I18n.t('meta_tags.pages.home.keywords') %>

<!-- BANNER -->
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.conscients.com/shop/64-373-thickbox/album-illustre-jeunesse-foret-tropicale.jpg');">
    <div class="banner-content">
      <h2>This banner</h2>
      <h1>Will be replaced</h1>
      <a class="banner-link" href="https://css-tricks.com/snippets/jquery/simple-auto-playing-slideshow/">by a slideshow</a>
    </div>
  </div>
<!-- OCCASIONS TITLE AND TABS-->
  <div class="container-conscients home-font home-title-padding">
    <h2>Des cadeaux et du sens</h2>
  </div>
  <div class="container-conscients home-font padding-b">
    <div class="tabs">
      <a class="tab active" href="#">
      <h3>Cadeaux de naissance</h3>
    </a>
    <a class="tab" href="#">
      <h3>Pour les grands</h3>
    </a>
    <a class="tab" href="#">
      <h3>Offrir un arbre</h3>
    </a>
    </div>
  </div>

<!-- CAROUSEL OCCASIONS & CAROUSEL INNER-->
<div id="occasions-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
<!-- CAROUSEL OCCASIONS ITEM ACTIVE -->
    <div class="carousel-item active">
      <!-- <div class="tab-content"> -->
        <div class="container-conscients flex-container">
          <div class="occasions-container">
            <div class="occasions-img-box" style="background-image: url('http://www.conscients.com/shop/64-371-thickbox/album-illustre-jeunesse-foret-tropicale.jpg');">
            </div>
            <div class="occasions-card">
                <div class="occasions-card-content-box home-font">
                  <img class="occasions-card-img" src="http://www.conscients.com/shop/69-396-large/coffret-cadeau-naissance-bio-equitable-personnalise-my-tree-shirt-super-yoghiros.jpg">
                  <div class="occasions-card-description">
                  <h3>my tree-shirt</h3>
                  <p>Body bio 6-12 mois + Trousse bio + Certificat de plantation nominatif</p>
                  <p>42 €</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      <!-- </div> end of tab content-->
    </div>
<!-- CAROUSEL OCCASION ITEM  -->
    <div class="carousel-item">
      <!-- <div class="tab-content"> -->
        <div class="container-conscients flex-container">
          <div class="occasions-container">
            <div class="occasions-img-box" style="background-image: url('http://www.conscients.com/wp-content/uploads/2013/01/coffret-cadeau-naissance-bio2.jpg');">
            </div>
            <div class="occasions-card">
                <div class="occasions-card-content-box home-font">
                  <img class="occasions-card-img" src="http://www.conscients.com/shop/50-257-thickbox/debardeur-bio-jaune-tree-hug-conscients.jpg">
                  <div class="occasions-card-description">
                  <h3>my tree-shirt</h3>
                  <p>Body bio 6-12 mois + Trousse bio + Certificat de plantation nominatif</p>
                  <p>42 €</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      <!-- </div> end of tab content-->
    </div>
  </div>
<!-- ARROWS   -->
  <a class="carousel-control-prev" href="#occasions-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#occasions-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container-conscients home-font home-title-padding">
  <h2>Vêtements bio 0-5 ans</h2>
</div>
<!-- MY CAROUSEL COL 12 NOT WORKING???-->
<div id="test-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container-conscients my-carousel-container">
      <div class="box">active</div>
      <div class="box">active</div>
      <div class="box">active</div>
      <div class="box">active</div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container-conscients my-carousel-container">
      <div class="box">hello</div>
      <div class="box">hello</div>
      <div class="box">hello</div>
      <div class="box">hello</div>
      </div>
    </div>

   </div>
  <a class="carousel-control-prev" href="#test-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#test-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- OTHER SLIDER VETEMENTS -->
<div class="container-conscients home-font home-title-padding">
  <h2>Vêtements bio 0-5 ans</h2>
</div>
<!-- CAROUSEL CLOTHES & CAROUSEL INNER -->
<div id="clothes-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- <div class="container p-t-0 m-t-2 carousel-inner"> -->
    <div class="carousel-inner container-conscients">

<!-- CAROUSEL CLOTHES ITEM ACTIVE         -->
          <div class="row row-equal carousel-item active m-t-0">
<!-- COL MD 3             -->
            <div class="col-md-3 shop-carousel-col ">
              <div class="card shop-carousel-card home-font">
                <div class="card-img-top card-img-top-250">
                    <img class="img-fluid" src="http://www.conscients.com/shop/38-212-large/t-shirt-bio-blanc-tie-break-conscients.jpg" alt="Carousel 1">
                </div>
                <div class="card-block p-t-2">
                    <h3>Active 1</h3>
                    <p>
                        <a href>Why Stuff Happens Every Year.</a>
                    </p>
                </div>
              </div>
            </div>
<!-- COL MD 3             -->
            <div class="col-md-3 shop-carousel-col">
              <div class="card shop-carousel-card home-font">
                <div class="card-img-top card-img-top-250">
                    <img class="img-fluid" src="http://www.conscients.com/shop/38-212-large/t-shirt-bio-blanc-tie-break-conscients.jpg" alt="Carousel 2">
                </div>
                <div class="card-block p-t-2">
                    <h3>Active 2</h3>
                    <p>
                        <a href>How to Make Every Line Count.</a>
                    </p>
                </div>
              </div>
            </div>
<!-- COL MD 3            -->
            <div class="col-md-3 shop-carousel-col">
              <div class="card shop-carousel-card home-font">
                <div class="card-img-top card-img-top-250">
                    <img class="img-fluid" src="http://www.conscients.com/shop/10-146-large/combinaison-bio-bebe-noire-slow-conscients.jpg" alt="Carousel 3">
                </div>
                <div class="card-block p-t-2">
                    <h3>active 3</h3>
                    <p>
                        <a href>Responsive is Essential.</a>
                    </p>
                </div>
              </div>
            </div>
<!-- COL MD 3             -->
            <div class="col-md-3 shop-carousel-col">
              <div class="card shop-carousel-card home-font">
                <div class="card-img-top card-img-top-250">
                    <img class="img-fluid" src="http://www.conscients.com/shop/14-145-large/combinaison-bio-bebe-fille-rose-et-prune-bombacha-conscients.jpg" alt="Carousel 3">
                </div>
                <div class="card-block p-t-2">
                    <h3>Design</h3>
                    <p>
                        <a href>Responsive is Essential.</a>
                    </p>
                </div>
              </div>
            </div>
          </div>

<!-- CAROUSEL CLOTHES ITEM         -->
        <div class="row row-equal carousel-item m-t-0">
<!-- COL MD 3             -->
        <div class="col-md-3 shop-carousel-col">
          <div class="card shop-carousel-card home-font">
            <div class="card-img-top card-img-top-250">
                <img class="img-fluid" src="http://www.conscients.com/shop/14-145-large/combinaison-bio-bebe-fille-rose-et-prune-bombacha-conscients.jpg" alt="Carousel 4">
            </div>
            <div class="card-block p-t-2">
                <h3>1 serie 2</h3>
                <p>
                    <a href>Tagline or Call-to-action.</a>
                </p>
            </div>
          </div>
        </div>
<!-- COL MD 3             -->
        <div class="col-md-3 shop-carousel-col">
          <div class="card shop-carousel-card home-font">
            <div class="card-img-top card-img-top-250">
                <img class="img-fluid" src="http://www.conscients.com/shop/38-212-large/t-shirt-bio-blanc-tie-break-conscients.jpg" alt="Carousel 5">
            </div>
            <div class="card-block p-t-2">
                <h3>2 serie 1</h3>
                <p>
                    <a href>This is a Blog Title.</a>
                </p>
            </div>
          </div>
        </div>
<!-- COL MD 3 FADEIN             -->
        <!-- <div class="col-md-4 fadeIn wow"> -->
        <div class="col-md-3 shop-carousel-col">
          <div class="card shop-carousel-card home-font">
            <div class="card-img-top card-img-top-250">
                <img class="img-fluid" src="http://www.conscients.com/shop/38-212-large/t-shirt-bio-blanc-tie-break-conscients.jpg" alt="Carousel 6">
            </div>
            <div class="card-block p-t-2">
                <h3>3 serie 2</h3>
                <p>
                    <a href>Catchy Title of a Blog Post.</a>
                </p>
            </div>
          </div>
        </div>
<!-- COL MD 3             -->
        <div class="col-md-3 shop-carousel-col">
          <div class="card shop-carousel-card home-font">
            <div class="card-img-top card-img-top-250">
                <img class="img-fluid" src="http://www.conscients.com/shop/38-212-large/t-shirt-bio-blanc-tie-break-conscients.jpg" alt="Carousel 6">
            </div>
            <div class="card-block p-t-2">
                <h3>4 serie 2</h3>
                <p>
                    <a href>Catchy Title of a Blog Post.</a>
                </p>
            </div>
          </div>
        </div>
    </div>
        <!-- FIN DIV ROW         -->
    </div>
<!-- FLECHES     -->
    <a class="carousel-control-prev" href="#clothes-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#clothes-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
<!-- FIN CAROUSEL -->
</div>



<div class="container-conscients pt-5">
<h1 class="flex justify-center"><%= t 'pages.home.hello' %> Hello from <%= Rails.application.class
                                                                .parent_name %>!</h1>
</div>

<div class="container-conscients">
  <p><strong>Finir de definir les fonts pour la home et le banner link hover.</strong> Nec minus feminae quoque calamitatum participes fuere similium. nam ex hoc quoque sexu peremptae sunt originis altae conplures, adulteriorum flagitiis obnoxiae vel stuprorum. inter quas notiores fuere Claritas et Flaviana, quarum altera cum duceretur ad mortem, indumento, quo vestita erat, abrepto, ne velemen quidem secreto membrorum sufficiens retinere permissa est. ideoque carnifex nefas admisisse convictus inmane, vivus exustus est.Quare hoc quidem praeceptum, cuiuscumque est, ad tollendam amicitiam valet; illud potius praecipiendum fuit, ut eam diligentiam adhiberemus in amicitiis comparandis, ut ne quando amare inciperemus eum, quem aliquando odisse possemus. Quin etiam si minus felices in diligendo fuissemus, ferendum id Scipio potius quam inimicitiarum tempus cogitandum putabat.Has autem provincias, quas Orontes ambiens amnis imosque pedes Cassii montis illius celsi praetermeans funditur in Parthenium mare, Gnaeus Pompeius superato Tigrane regnis Armeniorum abstractas dicioni Romanae coniunxit.Non ergo erunt homines deliciis diffluentes audiendi, si quando de amicitia, quam nec usu nec ratione habent cognitam, disputabunt. Nam quis est, pro deorum fidem atque hominum! qui velit, ut neque diligat quemquam nec ipse ab ullo diligatur, circumfluere omnibus copiis atque in omnium rerum abundantia vivere? Haec enim est tyrannorum vita nimirum, in qua nulla fides, nulla caritas, nulla stabilis benevolentiae potest esse fiducia, omnia semper suspecta atque sollicita, nullus locus amicitiae.
  </p>
    <p>Nec minus feminae quoque calamitatum participes fuere similium. nam ex hoc quoque sexu peremptae sunt originis altae conplures, adulteriorum flagitiis obnoxiae vel stuprorum. inter quas notiores fuere Claritas et Flaviana, quarum altera cum duceretur ad mortem, indumento, quo vestita erat, abrepto, ne velemen quidem secreto membrorum sufficiens retinere permissa est. ideoque carnifex nefas admisisse convictus inmane, vivus exustus est.Quare hoc quidem praeceptum, cuiuscumque est, ad tollendam amicitiam valet; illud potius praecipiendum fuit, ut eam diligentiam adhiberemus in amicitiis comparandis, ut ne quando amare inciperemus eum, quem aliquando odisse possemus. Quin etiam si minus felices in diligendo fuissemus, ferendum id Scipio potius quam inimicitiarum tempus cogitandum putabat.Has autem provincias, quas Orontes ambiens amnis imosque pedes Cassii montis illius celsi praetermeans funditur in Parthenium mare, Gnaeus Pompeius superato Tigrane regnis Armeniorum abstractas dicioni Romanae coniunxit.Non ergo erunt homines deliciis diffluentes audiendi, si quando de amicitia, quam nec usu nec ratione habent cognitam, disputabunt. Nam quis est, pro deorum fidem atque hominum! qui velit, ut neque diligat quemquam nec ipse ab ullo diligatur, circumfluere omnibus copiis atque in omnium rerum abundantia vivere? Haec enim est tyrannorum vita nimirum, in qua nulla fides, nulla caritas, nulla stabilis benevolentiae potest esse fiducia, omnia semper suspecta atque sollicita, nullus locus amicitiae.
  </p>
    <p>Nec minus feminae quoque calamitatum participes fuere similium. nam ex hoc quoque sexu peremptae sunt originis altae conplures, adulteriorum flagitiis obnoxiae vel stuprorum. inter quas notiores fuere Claritas et Flaviana, quarum altera cum duceretur ad mortem, indumento, quo vestita erat, abrepto, ne velemen quidem secreto membrorum sufficiens retinere permissa est. ideoque carnifex nefas admisisse convictus inmane, vivus exustus est.Quare hoc quidem praeceptum, cuiuscumque est, ad tollendam amicitiam valet; illud potius praecipiendum fuit, ut eam diligentiam adhiberemus in amicitiis comparandis, ut ne quando amare inciperemus eum, quem aliquando odisse possemus. Quin etiam si minus felices in diligendo fuissemus, ferendum id Scipio potius quam inimicitiarum tempus cogitandum putabat.Has autem provincias, quas Orontes ambiens amnis imosque pedes Cassii montis illius celsi praetermeans funditur in Parthenium mare, Gnaeus Pompeius superato Tigrane regnis Armeniorum abstractas dicioni Romanae coniunxit.Non ergo erunt homines deliciis diffluentes audiendi, si quando de amicitia, quam nec usu nec ratione habent cognitam, disputabunt. Nam quis est, pro deorum fidem atque hominum! qui velit, ut neque diligat quemquam nec ipse ab ullo diligatur, circumfluere omnibus copiis atque in omnium rerum abundantia vivere? Haec enim est tyrannorum vita nimirum, in qua nulla fides, nulla caritas, nulla stabilis benevolentiae potest esse fiducia, omnia semper suspecta atque sollicita, nullus locus amicitiae.
  </p>
    <p>Nec minus feminae quoque calamitatum participes fuere similium. nam ex hoc quoque sexu peremptae sunt originis altae conplures, adulteriorum flagitiis obnoxiae vel stuprorum. inter quas notiores fuere Claritas et Flaviana, quarum altera cum duceretur ad mortem, indumento, quo vestita erat, abrepto, ne velemen quidem secreto membrorum sufficiens retinere permissa est. ideoque carnifex nefas admisisse convictus inmane, vivus exustus est.Quare hoc quidem praeceptum, cuiuscumque est, ad tollendam amicitiam valet; illud potius praecipiendum fuit, ut eam diligentiam adhiberemus in amicitiis comparandis, ut ne quando amare inciperemus eum, quem aliquando odisse possemus. Quin etiam si minus felices in diligendo fuissemus, ferendum id Scipio potius quam inimicitiarum tempus cogitandum putabat.Has autem provincias, quas Orontes ambiens amnis imosque pedes Cassii montis illius celsi praetermeans funditur in Parthenium mare, Gnaeus Pompeius superato Tigrane regnis Armeniorum abstractas dicioni Romanae coniunxit.Non ergo erunt homines deliciis diffluentes audiendi, si quando de amicitia, quam nec usu nec ratione habent cognitam, disputabunt. Nam quis est, pro deorum fidem atque hominum! qui velit, ut neque diligat quemquam nec ipse ab ullo diligatur, circumfluere omnibus copiis atque in omnium rerum abundantia vivere? Haec enim est tyrannorum vita nimirum, in qua nulla fides, nulla caritas, nulla stabilis benevolentiae potest esse fiducia, omnia semper suspecta atque sollicita, nullus locus amicitiae.
  </p>
</div>
