/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  font-family: "Frank Ruhl libre", "serif";
  font-weight: 300;
  border-radius: 0;
  border: none;
}
.alert-info {
  // background: $conscients-green;
  background-color: $conscients-black;
  // opacity: 1;
}
.alert-warning {
  // background: $conscients-red;
  background-color: $conscients-black;
}

/* -------------------------------------
 * Message error on product certificate
* ------------------------------------- */

.no-padding-ul {
  padding-left: 0;
}
.angle-down-list:before {
  font-family: FontAwesome;
  content: "\f107";
  padding-right: 10px;
  padding-left: 10px;
}

.angle-down-list {
  list-style: none;
  font-family: frank ruhl libre;
  background-color: $conscients-red;
  border: 1px solid #dd452a;
}
