.banner {
  color: white;
  text-align: center;
  width: 95vw;
  height: 70vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
}

.banner-content {
  width: 80vw;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 200px;
}

.banner h1 {
  font-family: "Frank Ruhl Libre", "serif";
  font-weight: 300;
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  color: white;
    @media (max-width: $screen-xs) {
      font-size: 2rem; /* On screens that are equal to screen xs or less ie smartphone, font turn 13px */
    }
}

.banner-link {
  font-family: "Frank Ruhl Libre", "serif";
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-decoration: underline;
  text-underline-position: under;
}

