// overwrite
button:focus {outline:0;}

//CONSCIENTS BTN
  .conscients-btn {
    opacity: 1;
    border-radius: 0;
    font-family: "Roboto", "sans-serif";
    text-transform: Uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  }

  .conscients-btn-phone {
    @include for-phone-only {
      font-size: 0.6rem;
    }
  }
  .conscients-btn:hover {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.16);
  }

  .conscients-btn:active {
    opacity: 1;
    transform: scale(0.9, 0.9);
  }

// BTN GREEN
  .btn-green {
    background-color: $conscients-green;
    color: white !important;
    }

  .btn-green:active {
    background-color: #60b28d;
  }

// BTN BLACK

  .btn-black {
    background-color: $conscients-black;
    color: white !important;
  }

  .btn-black:active{
    background-color: black;
  }

// FACEBOOK CONNECT WHITE
  .fb-connect-btn-w::before {
      font-family: FontAwesome;
      content: "\f082";
      font-size: 1.5em;
      margin-right: 10px;
      color: $facebook;
      text-decoration: underline white;
  }

  .fb-connect-btn-w {
    margin-top: 5px;
    color: $facebook;
    font-family: "Frank Ruhl Libre", "serif";
    border: none;
    background-color: white;
    // background-color: pink;
    cursor: pointer;
  }

  .fb-connect-btn-w:active {
    opacity: 0.9;
    text-decoration: underline;
  }

// PAYMENTS BUTTON

  .paypal-btn {
    font-family: FontAwesome;
    content: "\f14";
  }

.input-field {
    padding: 12px 20px;
    border: 1px solid #e2e2e2;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-family: "Arial","sans-serif";
    background: white;
    letter-spacing: 0.15em;
    width: 100%;
    border-radius: 0;
    flex: 1;
}

.input-field-button {
  color: white;
  background-color: $conscients-green;
  border-radius: 0;
  padding: 12px 20px;
  border: 1px solid #e2e2e2;
  text-transform: uppercase;
  font-size: 0.75rem;
}
.dark-button {
    // padding: 12px 20px;
    // border: 1px solid #e2e2e2;
    // text-transform: uppercase;
    // font-size: 0.75rem;
    // font-family: "brandon-grotesque","Arial","sans-serif";
    // background: $conscients-grey;
    // letter-spacing: 0.15em;
    // width: 100%;
    // border-radius: 0;
    border: 1px solid #343434;
    background: $conscients-grey;
    color: #fff;
    padding: 13px 28px;
    line-height: normal;
    border-radius: 0;
    text-transform: uppercase;
    font-family: "brandon-grotesque","Arial","sans-serif";
    font-size: 0.8125rem;
    background: none;
    letter-spacing: 0.2em;
    text-align: center;
    transition: all 0.25s ease-in-out;
    border: none;
    -webkit-appearance: none;
}
