//ID
  #occasions-carousel {
  }

  #clothes-carousel {
  }

  #test-carousel {

  }

// CAROUSEL ARROW
  .carousel-control-prev, .carousel-control-next {
    width: 10%;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-size: 100%, 100%;
    background-image: none;
    font-family: 'Advent Pro', sans-serif;
    font-size: 40px;
    color: $conscients-light-grey;
  }
  .carousel-control-next-icon:after
  {
    content: '>';
  }
  .carousel-control-prev-icon:after {
    content: '<';
  }

// CAROUSEL CLOTHES CARD SLIDER
  /* equal card height */
  .row-equal > div[class*='col-'] {
      display: flex;
      flex: 1 0 auto;
  }

  // .row-equal .card {
  //    width: 100%;
  // }

  /* ensure equal card height inside carousel */
  .carousel-inner>.row-equal.active,
  .carousel-inner>.row-equal.next,
  .carousel-inner>.row-equal.prev {
      display: flex;
  }


  /* prevent flicker during transition */
  .carousel-inner>.row-equal.active.left,
  .carousel-inner>.row-equal.active.right {
      opacity: 0.5;
      display: flex;
  }


  /* control image height */
  .card-img-top-250 {
      max-height: 300px;
      overflow:hidden;
  }

  .row {
      flex-wrap: nowrap !important;
      overflow: hidden !important;
      margin: 0 auto;
  }

  .shop-carousel-col {
    justify-content: center;
    background-color: pink;
    margin: 0 auto;
  }
  .shop-carousel-card{
    background-color: red;
    text-align: center;
        // height: 85%;
        height: 350px;
        max-height: 350px;
        // width: 38%;
    border: none;
    margin: 0 auto;
  }



// card sur mon site venant de bootstrap
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     min-width: 0;
//     word-wrap: break-word;
//     background-color: #fff;
//     background-clip: border-box;
//     border: 1px solid rgba(0, 0, 0, 0.125);
//     border-radius: 0.25rem;

