// INITIAL
  .card-hide-hover {
    display: block;
  }

  .card-hover-parent:hover .card-hide-hover {
    display: none;
  }

  .card-hover-parent:hover .card-hover-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-show-hover {
    display: none;
  }

  .card-hover-parent:hover .card-show-hover {
    display: block;
  }

  .card-hover-parent:hover {
    height: 90%;
  }

// CARD CONSCIENTS HOMEPAGE _DISPLAY 4 LANDSCAPE
.card-conscients {
  display: flex;
  flex-direction: column;
}
.card-conscients-content {
  text-align: center;
  padding-top: 20px;
}

.card-conscients-img {
  max-width: 100%;
}
