// INITIAL
  .card-hide-hover {
    display: block;
  }

  .card-hover-parent:hover .card-hide-hover {
    display: none;
  }

  .card-hover-parent:hover .card-hover-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-show-hover {
    display: none;
  }

  .card-hover-parent:hover .card-show-hover {
    display: block;
  }

  .card-hover-parent:hover {
    height: 90%;
  }


