.modal-header {
  border-bottom: none;
}
.modal-dialog {
  width: 100%;
  max-width: 100% !important;
  margin: 0;
  padding: 0;
  height: 100%;
}

.modal-backdrop {
background-color:#fff;
opacity:1!important;
border: 10px solid black;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  background: none;
  box-shadow: none;
}

.modal-body {
  text-align: center;
}

// .modal-body form {
//   margin: 0 auto;
//   float: none;
//   width: 300px;
// }

.modal-content .close {
  // opacity: 1;
  font-size: 30px;
}

