.form-field {
  width: 100%;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  outline: 0;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  box-sizing: content-box;
}

.label .active {
  transform: translateY(-140%);
  font-size: .8rem;
  transition: .2s ease-out;
    /* position: absolute; */
    /* top: .65rem; */
    /* left: 0; */
}
