.form-inner-box {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

input {
  font-family:"Frank Ruhl Libre", "serif";
  font-size: 1rem;
  color: $conscients-grey;
}

input[type=text], textarea[type=text] {
  transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid $conscients-very-light-grey;
  border-radius: 0;
}

input[type=text]:focus, textarea[type=text]:focus {
  outline: 0;
  box-shadow: none;
  // box-shadow: 0 0 5px rgba(216, 215, 212, 0.9);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid $conscients-light-grey;
  font-family:"Frank Ruhl Libre", "serif";
  font-size: 1rem;
}


// .form-inner-box input[type=text], textarea {
// //     transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
// //     outline: 0;
// //     box-shadow: none;
// //     border: none;
//     border-bottom: 1px solid $conscients-very-light-grey;
//     border-radius: 0;
// //     box-sizing: content-box;
// //     background-color: transparent;
//   font-family:"Frank Ruhl Libre", "serif";
//   font-size: 1rem;
// }


// .form-inner-box .form-control:focus {
//   background-color: rgba(251, 215, 134, 0.1);
//   border: none;
//   border-radius: 0;
//   background-size: 1px 1em;
//   box-shadow:
//     inset 0 -0.175em white,
//     inset 0 -0.2em rgba(251, 215, 134, 0.9);
//   display: inline;
// }

.label-font {
  font-family:"Frank Ruhl Libre", "serif";
  font-size: 0.8rem;
}


