.icone {
  color: $conscients-light-grey;
}

.badge-conscients {
  color: #fff;
  background-color: $conscients-green;
  padding-right: 0.5em;
  padding-left: 0.5em;
  border-radius: 10rem;
  vertical-align: top;
  margin-left: -7px;
  font-size: 0.5rem;
}

.fa-small-grey {
  font-size: 0.5rem;
  color: #726f64;
  padding: 0 1px;
}

