.tabs {
  display: flex;
  justify-content: center;
  color: $conscients-very-light-grey;
      @include for-tablet-landscape-up {
    padding-bottom: 16px;
    color: $conscients-light-grey;
    }
}
// .tabs a {
// }
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}


.tab {
  flex: 0 0 28%;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
    @include for-phone-only {
      flex: 0 0 33%;
    }
}

.tab.active {
  color: $conscients-grey;
  text-decoration: underline;
  text-underline-position: under;
  @include for-phone-only {
    text-decoration : none;
  }
}
