.border-table-cart thead th {
  border-bottom: 0px;
}
.border-table-cart th, .border-table-cart td {
  border-top: 0px;
}

.table-cart-bordered {
  border: $border-grey;
}

.border-table-cart td {
     vertical-align: middle;
}

/* -------------------------------------
 * CART TABLE
 * ------------------------------------- */
  .conscients-table-responsive {
    table-layout: fixed;
    width: 100%;
    @include for-phone-only {
      border: 1px solid $conscients-grey;
    }
    // @include for-tablet-portrait-only {
    //   border: 1px solid $conscients-grey;
    // }
  }

  .table th {
      padding-bottom: 0;
  }

  .top-tr {
    background-color: $conscients-bg-grey;
  }
  .th-font {
      padding-bottom: 10PX;
      padding-top: 10PX;
      font-family: "Roboto", "sans-serif";
      text-transform: uppercase;
      font-weight: 300;
      font-size: 0.5rem;
      word-wrap: break-word;
      @include for-tablet-landscape-up {
        font-size: 0.7rem;
        letter-spacing: 0.1rem;
      }
  }

  // CART BODY //
  .cart-img img {
    width: 25px;
    @include for-tablet-landscape-up {
      width: 100px;
    }
  }
  td {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .td-font {
    font-family: "Frank Ruhl Libre", "serif";
    font-weight: 300;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    @include for-phone-only {
      font-size: 0.7rem;
    }
  }

  .heart-before:before {
    font-family: FontAwesome;
    content: "\f004";
    color: $conscients-red;
    font-size: 0.5rem;
    padding-right: 5px;
  }
  .heart-before:white {
    font-family: FontAwesome;
    content: "\f004";
    color: white;
    font-size: 0.5rem;
  }

  // CART BODY COL SIZE ON SHOW CARTS//
  .first-col-fix-width td:nth-child(1),
  .first-col-fix-width th:nth-child(1)  {
    width: 13%;
    @include for-phone-only {
      width: 9%;
    }
  }
  .first-col-fix-width td:nth-child(2),
  .first-col-fix-width th:nth-child(2),{
    width: 25%;
    @include for-phone-only {
      width: 27%;
    }
  }

  .first-col-fix-width td:nth-child(3),
  .first-col-fix-width th:nth-child(3),{
    width: 10%;
    @include for-phone-only {
      width: 8%;
    }
  }
  .first-col-fix-width td:nth-child(4),
  .first-col-fix-width th:nth-child(4) {
    width: 37%;
    @include for-phone-only {
      width: 33%;
    }
  }

  .first-col-fix-width td:nth-child(5),
  .first-col-fix-width th:nth-child(5) {
    width: 10%;
    @include for-phone-only {
      width: 17%;
    }
  }

  .first-col-fix-width td:nth-child(6),
  .first-col-fix-width th:nth-child(6) {
    width: 5%;
    @include for-phone-only {
      width: 6%;
    }
  }

  // CART TABLE FONTS
  .total-font{
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    @include for-phone-only {
      font-size: 0.8rem;
    }
  }
  .total-comment-font p{
    font-family: "Roboto", "sans-serif";
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    font-weight: 300;
    margin-bottom: 3rem;
    @include for-phone-only {
      font-size: 0.6rem;
      text-align: right;
      margin-bottom: 2rem;
    }
  }

  .continue-shopping {
    color: $conscients-green;
    font-family: "Roboto", "sans-serif";
    text-transform: Uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    @include for-phone-only {
      font-size: 0.6rem;
    }
  }

  .continue-shopping:before {
    font-family: FontAwesome;
    content: "\f104";
    padding-right: 10px;
  }

  .continue-shopping:hover {
    color: $conscients-green;
    text-decoration: underline;
  }

/* -------------------------------------------------
 * CART TABLE ON DELIVERY AND PAIEMENT (SMALL CART)
 * ------------------------------------------------- */

  .small-cart-img img {
    width: 25px;
    @include for-tablet-landscape-up {
      width: 40px;
    }
  }

  .small-th-font {
      padding-bottom: 10PX;
      padding-top: 10PX;
      font-family: "Roboto", "sans-serif";
      text-transform: uppercase;
      font-weight: 300;
      font-size: 0.5rem;
      word-wrap: break-word;
      @include for-tablet-landscape-up {
        font-size: 0.5rem;
        letter-spacing: 0.1rem;
      }
  }

  .small-td-font {
    font-family: "Frank Ruhl Libre", "serif";
    font-weight: 300;
    font-size: 0.8rem;
    // word-wrap: break-word;
    // -webkit-hyphens: auto;
    // -moz-hyphens: auto;
    // -ms-hyphens: auto;
    // -o-hyphens: auto;
    // hyphens: auto;
    // @include for-phone-only {
    //   font-size: 0.7rem;
    // }
  }

  .small-total-font{
    font-size: 0.8rem;

    text-transform: uppercase;
    letter-spacing: 0.1rem;
    // @include for-phone-only {
    //   font-size: 0.8rem;
    // }
  }

  // Image
  .small-first-col-fix-width td:nth-child(1), .small-first-col-fix-width th:nth-child(1) {
    width: 10%;
  }

  // Quantity
  .small-first-col-fix-width td:nth-child(3), .small-first-col-fix-width th:nth-child(3){
    width: 10%;
  }

  // Price
  .small-first-col-fix-width td:nth-last-child(-n+2), .small-first-col-fix-width th:nth-last-child(-n+2){
    width: 12%;
  }

  // Edit
  .small-first-col-fix-width td:last-child,
  .small-first-col-fix-width th:last-child{
    width: 6%;
  }
