.border-table-cart thead th {
  border-bottom: 0px;
}
.border-table-cart th, .border-table-cart td {
  border-top: 0px;
}

.table-cart-bordered {
  // border: 3px solid #F2F2F2;
  border: $border-grey;
}

.border-table-cart td {
     vertical-align: middle;
}

.table th {
    padding-bottom: 0;
}
.th-font {
    // font-family: "Roboto", "sans-serif";
    font-family: "Frank Ruhl Libre", "serif";
    // color: $conscients-title-grey;
    color: $conscients-light-grey;
    // text-transform: uppercase;
    // font-size: 0.8rem;
    // letter-spacing: 0.1rem;
    font-weight: 400;
}

.td-font {
  font-family: "Frank Ruhl Libre", "serif";
}

.conscients-table-responsive {
  table-layout: fixed;
  // table-layout: auto;
  width: 100%;
  // border: $border-grey;
}


.first-col-fix-width td:nth-child(1),
.first-col-fix-width th:nth-child(1)  {
  width: 70px;
  // background-color: green;
}
.first-col-fix-width td:nth-child(2), .first-col-fix-width td:nth-child(4),
.first-col-fix-width th:nth-child(2), .first-col-fix-width th:nth-child(4){
  width: 60%;
  // background-color: pink;
}

.first-col-fix-width td:nth-child(3), .first-col-fix-width td:nth-child(5),
.first-col-fix-width th:nth-child(3), .first-col-fix-width th:nth-child(5) {
  width: 40%;
  // background-color: blue;
}

.first-col-fix-width td:nth-child(6),
.first-col-fix-width th:nth-child(6) {
  width: 10%;
  // background-color: red;
}

// .conscients-td-responsive {
//   word-wrap: break-word;
// }
