// .ligne {
//     display: flex;
//     flex-wrap: wrap;
//     margin-right: -15px;
//     margin-left: -15px;
// }
.ligne {
    display: flex;
    flex-wrap: nowrap;
    overflow: visible;
    margin-right: -15px;
    margin-left: -15px;
}

.col-sm-xs-1-col-md4 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right:15px;
  padding-left: 15px;
    @include for-tablet-landscape-up {
    flex: O O 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    }
}

// .col-lg-2 {
//     flex: 0 0 16.666667%;
//     max-width: 16.666667%;
//     position: relative;
//     width: 100%;
//     min-height: 1px;
//     padding-right: 15px;
//     padding-left: 15px;
// }



// .boite {

// }

// .carte {

// }

.my-carousel-container{
  display: flex;
  margin: 0 auto;
  width: $container-width;
}
.box{
  height: 100px;
  width: 100%;
  background-color: yellow;
  border: 1px solid black;
  @include for-tablet-landscape-up {
    width: 25%;
  }
}

// // .flex-grid {
// //   display: flex;
// // }
// // .flex-grid .col {
// //   flex: 1;
// // }
// .flex-grid-four {
//   display: flex;
//   justify-content: space-between;
// }
// .flex-grid-four .col {
//   width: 25%;
// }

// @media (max-width: 400px) {
//   .flex-grid-four {
//     display: block;
//     .col {
//       width: 100%;
//       margin: 0 0 10px 0;
//     }
//   }
// }
