
.my-carousel-container{
  display: flex;
  margin: 0 auto;
  width: $container-width;
}
.box{
  height: 100px;
  width: 100%;
  background-color: yellow;
  border: 1px solid black;
  @include for-tablet-landscape-up {
    width: 25%;
  }
}


// MON CSS other slider vetements
  // .row {
  //     flex-wrap: nowrap !important;
  //     overflow: hidden !important;
  //     margin: 0 auto;
  // }

  .shop-carousel-col {
    justify-content: center;
    background-color: pink;
    margin: 0 auto;
  }
  .shop-carousel-card{
    background-color: red;
    text-align: center;
        // height: 85%;
        height: 350px;
        max-height: 350px;
        // width: 38%;
    border: none;
    margin: 0 auto;
  }
