<div class="container display-landscape-up-only">
  <div class="checkout-first-title-padding checkout-font no-padding-t">
    <h1 class=""><%= t('.title') %></h1>
  </div>
<!--   </% if cart.email? %>
    <div class="page-font padding-b">
      <p><strong></%= t('.description_email_delivery') %></strong> </%= t('.description_email_delivery_details') %></p>
    </div>
  </% else %>
  <div class="page-font bg-pink"></div>
    </%= t('.description_postal_delivery') %>
      </% if cart.tree_only? %>
        </%= link_to new_delivery_path(delivery_type: "email") do %>
          <span class="orange font-weight-bold"></%= fa_icon "plus" %> </%= t('.go_to_email_delivery_link') %></span>
          </% end %>
        </% end %>
  </% end %> -->
</div>











