<% set_meta_tags noindex: true %>

<div class="container mb-5 no-overflow">
  <%= render 'checkout/deliveries/breadcrumb', cart: @cart %>
  <%= render 'checkout/deliveries/top_description', cart: @cart %>
  <%= render 'checkout/deliveries/delivery_form', cart: @cart, delivery_address: @delivery_address, billing_address: @billing_address %>
</div>
