<div class="container mb-5">

  <%= render 'checkout/deliveries/breadcrumb', cart: @cart %>

      <div class="row">
        <%= render 'checkout/deliveries/top_description', cart: @cart %>

        <% unless @cart.coupon %>
          <%= render 'checkout/deliveries/add_coupon' %>
        <% end %>
      </div>

      <%= render 'checkout/deliveries/delivery_form', cart: @cart, delivery_address: @delivery_address, billing_address: @billing_address %>

  </div>
</div>
