@import url('https://fonts.googleapis.com/css?family=300');

body {
  font-family: 'Roboto', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

span {
  display: block;
}

th {
  height: 50px;
  text-align: left;
  padding-left: 15px;
}

td {
  padding: 15px;
}

.bold {
  font-weight: bold;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-50 {
  margin-right: 50px;
}

.right {
  position: absolute;
  right: 0;
}

.flex {
  display: -webkit-box;
}

// CERTIFICATE NEW CSS

.grey-certificate {
  color: #51524D;
}

.full-page {
  // height: 1031px;
  height: 1060px;
  width: 1559px;
}

.p-relative {
  position: relative;
}

.certificate-number {
  position: absolute;
  top: 194px;
  left: 338px;
  font-size: 14px;
}

.tree-quantity {
  position: absolute;
  text-transform: uppercase;
  top: 210px;
  left: 168px;
  text-align: right;
  width: 312px;
  font-size: 30px;
}

.identity-box {
  position: absolute;
  text-align: center;
  // vertical-align: center;
  width: 312px;
  left: 168px;
  top: 535px;
}

.recipient-name {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 24px;
}

.recipient-message {
  font-size: 17px;
}

.information-box {
  position: absolute;
  text-align: center;
  width: 312px;
  left: 168px;
  top: 670px;
  font-size: 14px;
}

.certificate-date {
  position: absolute;
  text-transform: uppercase;
  width: 500px;
  left: 600px;
  top: 693px;
}

// INVOICE NEW CSS

.frankruhl{
  font-family: "Frank Ruhl Libre", "serif";
}

.invoice-top {
  color: #5c5c54;
  border-bottom: 1px solid #5c5c54;
  table, th, td {
    border: none;
  }
  td {
    padding-right: 0;
    padding-left: 0;
  }
}

.invoice-top-under {
  margin-top: 30px;
  margin-bottom: 30px;
  table, th, td {
    border: none;
  }
  td {
    padding-right: 0;
  }
}

.invoice-bottom {
  padding: 15px;
  font-style: italic;
  text-align: right;
  color: #5c5c54;
}

.align-right {
  text-align: right;
}

.mt-30 {
  margin-top: 30px;
}

.delivered-to {
  padding-top: 0 !important;
  margin-top: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 8px !important;
}
