<div class="col-lg-4 col-sm-6 col-xs-12">
  <div class="card mt-3 mb-3">
    <%= image_tag(product.image, class: 'card-img-top') %>
    <div class="card-body">
      <h5 class="card-title"><%= product.name %></h5>
      <p class="card-text"><%= product.description %></p>
    </div>
  </div>
</div>
